<div class="control-group inline">
	<p class="lead" ng-model="Description"><strong>Stack Description: </strong>{{cfObj.Description}}</p><p class="lead" ng-model="ec2"><strong>EC2 Resources: </strong>{{ec2}}</p><p class="lead" ng-model="s3"><strong>S3 Resources: </strong>{{s3}}</p>
</div>
</div>
<button type="button" class="btn btn-large btn-primary" ng-click="addEC2Resource()">Add EC2 Resource</button>
<button type="button" class="btn btn-large btn-primary" ng-click="addS3Resource()">Add S3 Resource</button>
<button type="button" class="btn btn-large btn-primary" ng-show="hasMinimumRequirements()" ng-click="goToOutput()">Get Template</button>