<div class="control-group">
	<div class="inline"><h4>Stack Description:</h4><p class="lead" ng-model="Description">{{cfObj.Description}}</p></div>
</div>
<button type="button" class="btn btn-large btn-primary" ng-click="addEC2Resource()">Add EC2 Resource</button>
<button type="button" class="btn btn-large btn-primary" ng-click="addS3Resource()">Add S3 Resource</button>
<button type="button" class="btn btn-large btn-primary" ng-show="hasMinimumRequirements()" ng-click="goToOutput()">Get Template</button>